/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 jun 2023, 20:10:10
    Author     : renan
*/

body {
  background-color: gainsboro;
}
p{
    background: highlight;
    font: white;
    text-align: center;
    front-size: 20px;
    
}
h2{
   width: 10%;
   height: 100%;
   padding-right: 10px;
   float:left;
   front-style:italic;
   background-color: blue;
    font: white;
    color:white;
}
h5{
     text-align: center;
}